---
version: "3.9"
services:
  jackiebot:
    image: jackiebot:latest
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: jackiebot
    network_mode: host
    environment:
      TIME: 900 # 15 min check
    volumes:
      - /path/to/config/folder:/config
    restart: unless-stopped